{% extends "app/base.html" %}
{% load static i18n %}
{% block content %}


  <nord-navigation slot="nav">
      <nord-button slot="header" variant="primary" class="n-color-accent" expand>
        <nord-avatar slot="start" name="Bath Clinic" variant="square">B</nord-avatar>
        Bath Clinic
      </nord-button>
   
    <nord-nav-group heading="Workspace">
      <nord-nav-item href="#" icon="navigation-dashboard">Dashboard</nord-nav-item>
      <nord-nav-item href="#" icon="navigation-settings">Settings</nord-nav-item>
    </nord-nav-group>
    <nord-dropdown expand slot="footer">
      <nord-button class="help-toggle" slot="toggle" expand>
        <nord-icon slot="start" class="n-help-icon" size="m" name="interface-help"></nord-icon>
        Help & support
      </nord-button>
      <nord-dropdown-group>
        <nord-dropdown-item onclick='{window.location.reload}'>Help center</nord-dropdown-item>
        <nord-dropdown-item onclick="refresh()">Contact us</nord-dropdown-item>
        <nord-dropdown-item onclick="refresh()">Support history</nord-dropdown-item>
      </nord-dropdown-group>
      <nord-dropdown-group>
        <nord-dropdown-item onclick="refresh()">Getting started</nord-dropdown-item>
        <nord-dropdown-item class="toggle-command-menu">
          Keyboard commands
          <div slot="end" class="n-color-text-weaker n-font-size-xs">Cmd+K</div>
        </nord-dropdown-item>
        <nord-dropdown-item onclick="refresh()">Tips & tricks</nord-dropdown-item>
        <nord-dropdown-item onclick="refresh()">Updates</nord-dropdown-item>
      </nord-dropdown-group>
    </nord-dropdown>
  </nord-navigation>
  {% if request.user %}
  <nord-top-bar slot="top-bar" class="n-color-accent">

    <nord-input expand label="Search" hide-label type="search" placeholder="Search" class="n-padding-is-l"></nord-input>
    
    <nord-dropdown slot="end" align="start" position="block-end">
      <nord-button  variant="plain" aria-describedby="notifications-tooltip">
        <nord-icon name="navigation-notifications" size="m" color="rgba(255,255,255,0.85)"></nord-icon>
        <div class="n-counter" aria-hidden="true" style="position: absolute">12</div>
      </nord-button>
      <h2 slot="header" class="n-typescale-l">
        Notifications <span class="n-font-weight n-color-text-weaker">(12)</span>
      </h2>
      <nord-button slot="header-end" size="s" autofocus>Mark all as read</nord-button>
      <nord-message unread highlight>
        {{user.full_name}} arrived to clinic with Pixie cat.
        <span slot="footer">Just now at Nord Clinic</span>
      </nord-message>
      <nord-message unread>
        New feature available! We’ve introduced a quick way to navigate between app views, actions, and more using a new
        command menu.
        <span slot="footer">12 minutes ago</span>
      </nord-message>
      <nord-message unread>
        Nina Hallikainen arrived to clinic with Durante dog.
        <span slot="footer">20 minutes ago at Nord Clinic</span>
      </nord-message>
      <nord-message unread>
        David Darnes arrived to clinic with Norfryd cat.
        <span slot="footer">2 hours ago at Nord Clinic</span>
      </nord-message>
      <nord-message unread>
        Nick Williams arrived to clinic with Moog cat.
        <span slot="footer">2 hours ago at Nord Clinic</span>
      </nord-message>
      <nord-message unread>
        Eric Habich arrived to clinic with Zero cat.
        <span slot="footer">4 hours ago at Nord Clinic</span>
      </nord-message>
      <nord-message unread>
        Elvin van Eede arrived to clinic with Amoeba cat.
        <span slot="footer">12 hours ago at Nord Clinic</span>
      </nord-message>
      <nord-dropdown-item>
        See all notifications<nord-icon slot="end" name="arrow-right-long"></nord-icon>
      </nord-dropdown-item>
    </nord-dropdown>
    <nord-tooltip id="notifications-tooltip">12 unread notifications</nord-tooltip>

    <nord-dropdown slot="end" align="start" position="block-end">
      <nord-button slot="toggle" variant="plain" aria-describedby="tasks-tooltip">
        <nord-icon name="navigation-tasks" size="m" color="rgba(255,255,255,0.85)"></nord-icon>
        <div class="n-counter" aria-hidden="true" style="position: absolute">4</div>
      </nord-button>
      <h2 slot="header" class="n-typescale-l">My tasks <span class="n-font-weight n-color-text-weaker">(4)</span></h2>
      <nord-button slot="header-end" size="s" autofocus>
        <nord-icon slot="start" size="xxs" name="interface-add-small"></nord-icon>
        Create task
      </nord-button>
      <nord-message unread>
        Make sure to ask details from John regarding yesterday’s patient who arrived late.
        <span slot="footer">Finish by Wednesday, March 8</span>
      </nord-message>
      <nord-message unread>
        Import new patients from Ocean Beach Clinic into the system.
        <span slot="footer">Finish by Thursday, March 9</span>
      </nord-message>
      <nord-message unread>
        Call David and ask about his cat’s wellbeing.
        <span slot="footer">Finish by Thursday, March 9</span>
      </nord-message>
      <nord-message unread>
        Call Anne and reschedule their visit.
        <span slot="footer">Finish by Friday, March 10</span>
      </nord-message>
      <nord-dropdown-item> See all tasks<nord-icon slot="end" name="arrow-right-long"></nord-icon> </nord-dropdown-item>
    </nord-dropdown>
    <nord-tooltip id="tasks-tooltip">4 unfinished tasks</nord-tooltip>

    <nord-dropdown slot="end">
      <nord-button variant="plain" slot="toggle" aria-describedby="user-tooltip">
        <nord-avatar style="transform: translateY(-1px)" name="{{user.full_name}}" class="uppercase" src="{{ user.user_image.url }}"></nord-avatar>
      </nord-button>
      <nord-avatar slot="header" size="s" name="{{user.full_name}}" src="{{ user.user_image.url.url }}" class="uppercase">{{user.full_name|slice:":2"}}</nord-avatar>
      <p slot="header" class="n-color-text-weak n-font-size-s">
        Signed in as <span class="n-font-weight-active">{{user.full_name}}</span>
      </p>
      <nord-dropdown-group>
        <nord-dropdown-item>My profile</nord-dropdown-item>
        <nord-dropdown-item>Account Settings</nord-dropdown-item>
        <nord-dropdown-item onclick="window.location.assign('{% url 'password_change' %}')">Change password</nord-dropdown-item>
      </nord-dropdown-group>
      <nord-dropdown-group>
        <nord-dropdown-item>
          Keyboard commands
          <div slot="end" class="n-color-text-weaker n-font-size-xs">Cmd+K</div>
        </nord-dropdown-item>
        <nord-dropdown-item>Help & Support</nord-dropdown-item>
      </nord-dropdown-group>
      <form id="logoutForm" method="post" action="{% url 'logout'%}">
        {% csrf_token %}
      </form>
      <nord-dropdown-item onclick='logout()'>
        Sign out
        <nord-icon slot="end" name="interface-logout"></nord-icon>
      </nord-dropdown-item>
    </nord-dropdown>
    <nord-tooltip id="user-tooltip">{{user.full_name}}</nord-tooltip>
    
  </nord-top-bar>

  {% endif %}

  {% block page %}



 {% endblock page %}

<script src='{% static "app/js/reload.js" %}'></script>
{% endblock content %}