{% extends 'app/base.html' %}
{% load i18n static %}

{% block content %}
<nord-stack class="mx-auto pt-20 lg:pt-11" style="max-inline-size: 340px;">

    <nord-stack justifyContent="center" alignItems="center" class="flex items-center justify-center">
        <a href="{% url 'app:index' %}">
            <nord-avatar name="Laura Williams" size="xxl" src="{% static 'app/icons/apple-icon.png' %}"></nord-avatar>
        </a>
        
        <h1 class="n-font-size-xl n-font-weight-title">{% translate title %}</h1>
    </nord-stack>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <nord-banner shadow variant="warning">{{ error }}</nord-banner>
        {% endfor %}
    {% endif %}



    <nord-card padding="l">
        {% block form %}
        {% endblock %}
    </nord-card>

   
</nord-stack>

{% endblock %}
