{% extends "app/layout.html" %}
{% load i18n static %}

{% block title %}
  {% if form.errors %}
    {% translate "Error:" %} 
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block page %}
<nord-header slot="header">
  <h1 class="n-typescale-l">{% translate title %}</h1>
</nord-header>
<nord-stack class="mx-auto pt-10" style="max-inline-size: 340px;">
  <nord-card padding="l">
    <form method="post" class="n-stack">{% csrf_token %}
      <!-- New Password Input -->
      <nord-input
        label="Old Password"
        expand
        required
        hide-required
        name="old_password"
        type="password"
        value="{{ form.old_password.value|default:'' }}"
        error="{% if form.old_password.errors %}
                {{ form.old_password.errors.0 }}         
              {% endif %}"
      ></nord-input>
      <!-- New Password Input -->
      <nord-input
        label="New Password"
        expand
        required
        name="new_password1"
        type="password"
        value="{{ form.new_password1.value|default:'' }}"
        error="{% if form.new_password1.errors %}
                {% translate form.old_password.errors.0 %}   
              {% elif 'form.error_messages.password_incorrect'%}
                {% translate 'Your old password was entered incorrectly. Please enter it again.' %}
              {% endif %}"
              hide-required
      ></nord-input>
  
      <!-- Confirm Password Input -->
      <nord-input
        label="Confirm Password"
        expand
        required
        hide-required
        name="new_password2"
        type="password"
        value="{{ form.new_password2.value|default:'' }}"
        error="{% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                  {{ error }}
                {% endfor %}
              {% elif 'form.error_messages.password_mismatch' %}
                {% translate 'The two password fields didn’t match.' %}
              {% endif %}"
      ></nord-input>
  
      <!-- Submit Button -->
      <nord-button type="submit" expand variant="primary">Change Password</nord-button>
  
    </form>
  </nord-card>
</nord-stack>

  
{% endblock %}
