{% extends "app/layout.html" %}
{% load i18n static %}

{% block title %}
  {% if form.errors %}
    {% translate "Error:" %} 
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block page %}
<nord-header slot="header">
  <h1 class="n-typescale-l">{% translate title %}</h1>
</nord-header>
<nord-stack class="mx-auto pt-10" style="max-inline-size: 340px;">
  <nord-card padding="l">
    <form method="post" class="n-stack">{% csrf_token %}
      <nord-input
      label="Old Password"
      expand
      required
      hide-required
      name="old_password"
      type="password"
      value="{{ form.old_password.value|default:'' }}"
      error="{% if form.old_password.errors %}{{ form.old_password.errors.0 }}{% endif %}"
    ></nord-input>
    
    <nord-input
      label="New Password"
      expand
      required
      name="new_password1"
      type="password"
      value="{{ form.new_password1.value|default:'' }}"
      error="{% if form.new_password1.errors %}{{ form.new_password1.errors.0 }}{% endif %}"
      hide-required
    ></nord-input>
    
    <nord-input
      label="Confirm Password"
      expand
      required
      hide-required
      name="new_password2"
      type="password"
      value="{{ form.new_password2.value|default:'' }}"
      error="{% if form.new_password2.errors %}
               {% for error in form.new_password2.errors %}
                 {{ error }}
               {% endfor %}
             {% endif %}"
    ></nord-input>
    
  
      <!-- Submit Button -->
      <nord-button type="submit" expand variant="primary">Change Password</nord-button>
  
    </form>
  </nord-card>
</nord-stack>

  
{% endblock %}
