{% extends "authentication/base.html" %}
{% load i18n static %}

{% block title %}{% if form.new_password1.errors or form.new_password2.errors %}{% translate "Error:" %} {% endif %}{{ block.super }}{% endblock %}


{% block form %}

{% if validlink %}


<form method="post" class="n-stack" >{% csrf_token %}
    <input title="Username" class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <nord-input
    label="{% translate 'New password:' %}"
    expand
    required
    hide-required
    name="new_password1"
    type="password"
    value="{{ form.new_password1.value|default:'' }}"
    error="{% if form.new_password1.errors %}{{ form.new_password1.errors.0 }}{% endif %}"
></nord-input>
<nord-input
label="{% translate 'Confirm password:' %}"
expand
required
hide-required
name="new_password2"
type="password"
value="{{ form.new_password2.value|default:'' }}"
error="{% if form.new_password2.errors %}{{ form.new_password2.errors.0 }}{% endif %}"
></nord-input>

<nord-button type="submit" expand variant="primary">{% translate 'Change my password' %}</nord-button>
</form>

{% else %}
<nord-stack>

    <nord-banner variant="danger">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</nord-banner>
    <nord-button variant="primary" href="{% url 'password_reset' %}" expand>Back to Reset Password</nord-button>
</nord-stack>

{% endif %}

{% endblock %}
