{% extends "authentication/base.html" %}
{% load i18n %}


{% block form %}

<nord-stack>
    <nord-banner variant="success">
        {% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
    
    </nord-banner>
    <nord-banner variant="warning">
        {% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
    
    </nord-banner>
    <nord-button variant="primary" href="{% url 'login' %}" expand>Login</nord-button>
</nord-stack>



{% endblock %}
